@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}
body{
    background-color: #d1e7e5;
}
ul li{
    font-weight: bold;
}
.heading{
    font-size: 100px;
}
.hero{
 background: url("./assets/real2.png");
 color: white;
    
}
.hero-first{
    padding: 70px;
    padding-bottom: 20px;  
}
h1{
    font-size: 100px;
    text-decoration: underline; 
}
a{
    text-decoration: none;
}
.form{
    margin-top: 40px;
    padding: 50px;    
}
.header-text{
    text-decoration: underline;
}
.image-container{
    overflow: hidden;
}
.image-container img{
    transition: transform 0.3s ease;
}
.image-container:hover img {
    transform: scale(1.3); /* Zoom out the image to 90% of its original size on hover */
}
.card-body{
    background-color: #c9fbf6;
}
div>input{
    border-radius: 20px;
}